
body{
  margin: 0;
  
}

#b1{
  margin-top: 3%;
  text-align: center;  
}

#b2{
  margin-top:2%;
  margin-bottom: 2%;
  text-align: center;
}

body.scroll-lock {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom:0px;
  overflow:hidden;
}

#button1 {

  width:20%;
  margin-left: 12%;
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  text-decoration: underline;
  
}

#button1:hover {
  color: rgba(223, 215, 215, 0.897);
  cursor: default;
  
}

button{
  border-radius: 100vh;
  background-color: white;
  border: 0.5px solid rgba(207, 204, 202, 0.897);
}

button:hover{
  color: rgba(207, 202, 202, 0.897);
  cursor:default;
  
 
}

#button4 {
  float: right;
  margin-right: 6%;
  font-weight: bold;
  margin-left: 6%;
  text-decoration: underline;
}

#button5 {
  position:relative;
  margin-top: 15%;
  margin-bottom: 15%;
  font-weight: bold;
  font-size: medium;
}


#button4:hover{
  color: rgba(68, 121, 218, 0.897);
  cursor:default;
  
}

.buttons #reset{
  text-decoration: underline;
  font-weight: bold;
}

.buttons #reset:hover{
  color: rgba(68, 121, 218, 0.897);
  cursor:default;
  
}

.buttons #reset:active{
  color: rgba(128, 128, 128, 0.897);
  cursor:default;
  
}

.basket_conf{
  
  position: fixed;
  min-height: 200px;
  height:20%;
  width: 30%;
  margin-left: 35%;
  top: 25%;
  background: white;
  text-align: center;
  z-index: 20;
  border: 1.5px solid black;
  padding:0;
  border-radius:5vh;
  
}

.basket {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 30;
}

.basket_inner {
  position: absolute;
  height: 390px;
  min-width: 50%;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  text-align: center;
  z-index: 20;
  border-radius: 5vh;
}


#back_button{
  position: fixed;
  margin-top:0%;
}

.buttons{
  height: 25%;
  position: relative;
  text-align: center;
}

#close{
margin-top: 10%;
  
}

.close {
  position: absolute;
  bottom:1px;
  left: 1px;
  text-align: center;
}


.conf {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 30;
}

#conf_button3:hover{
  background: #333;
  border-color: #333;
  color: #FFF;
}

#conf_pic{
  position: relative;
  margin-top: 2%;
  max-width: 70%;
  max-height: 50%;
}

.conf_button {
  position: relative;
  margin-bottom: 1%;
}

#conf_button2 {
  position: relative;
  font-weight: bold;
  margin-top: 3%;
}

#conf_button3 {
  font-weight: bold;
  text-align: center;
  font-size: 140%;/*ボタンの大きさ*/
  font-weight: bolder;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 1.3em;
  height: 1.3em;
  line-height: 1.3em;
  cursor: pointer;
  transition: .2s;
}

.conf_warn{
  margin-top: 10%;
  font-size: x-small;
  
}

#conf_warning_a{
  text-decoration: underline dotted red;;
}

#day  {
  
  margin-right: 15px;
}


#edit_buttons{
  float:right;
  width: 25%;
  height: 50px; 
}

.edit_page{
  padding-bottom: 5%;
}

.editer{
  text-align: center;
  margin-bottom: 10px;
}

.edit_inner {
  margin-bottom: 20px ;
}

.edit_inner input {
  margin-right: 3px;
  
}

#logo {
  width: 20%;
  margin-left: 40%;

}



h1 {
  font-size:72pt;
  font-weight:bold;
  text-align:center;
  letter-spacing:-9px;
  color:#8a471a98;
  margin: 10px 0px;
}

h2 {
  text-align:center;
  
}

h3{
  text-align:center;
  font-size: xx-large;
  
}

h4 {
  text-align:center;
  margin: 0;
  padding: 0;
  

}
.home {
  text-align: center;
  font-size: larger;
}

.stock{
  margin-left: 10%;
  margin-bottom: 2%;
  width:80%;

}

#stock_table{
  width:100%;
}

#stock_item_name{
  width: 55%;
}

#stock_button{
margin-left: 10%;
}

.description {
  
  margin-bottom: 5px;
  text-align:center;
}

.hours {
  font-size: small;
  margin-top: 0;
  margin-bottom: 0;
}

.hours_in_edit {
  font-size: small;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

#status_green{
  text-decoration: underline;
  font-weight: bold;
  color: rgb(9, 128, 15);
}

#status_red{
  text-decoration: underline;
  font-weight: bold;
  color: rgb(231, 16, 8);
}

.nav {
  text-align:center;
  margin-bottom: 5px;
}

.list{
  height: 50px;
  width:50%;
  margin-left: 23%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  
}


#link:hover{
  color: rgba(68, 121, 218, 0.897);
  cursor:default;
  
}

.item_conf{
  
  position: fixed;
  min-height: 200px;
  height:45%;
  width: 40%;
  margin-left: 30%;
  top: 25%;
  background: white;
  text-align: center;
  z-index: 20;
  border: 1.5px solid black;
  padding:0;
  border-radius:5vh;
  
}

  


.msg {
  font-weight: bold;
  text-align: center;
  margin-top:10%;
  font-size: larger;
}

.receipt_inner {
  position: fixed;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background: rgb(230, 226, 226);
  text-align: center;
  z-index: 20;
  overflow: scroll;
  
}



.receipt_font {
  font-weight: bold;
  text-align: center;
  margin-top:3%;
  font-size:xx-large;
  margin-bottom: 0;
}

.warning {
  color: red;
  margin-top: 3%;
  font-size: small;
  margin-bottom: 0;
}


#order_head {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: larger;
  font-weight: bold;
}

#itemListInBasket{
  margin-top: 2%;
  width: 100%;
  border: unset;
}

#nameInBasket{
  width: 85%;
  border: unset;

}

#priceInBasket{
  width:10%;
  border: unset;
  margin-right: 0%;
  
}

#keyInBasket{
  width: 15%;
  border: unset;
 
}


.orderSearch {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 30;
}

.orderSearch_inner {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 30%;
  bottom: 30%;
  margin: auto;
  background: white;
  text-align: center;
  z-index: 20;
  
}

.item_list {
  margin-left: 10%;
  width: 80%;
  height: 65%;
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
  margin-bottom: 0.5%;
  margin-top: 2%;
  position: relative;
  overflow: scroll;
  border-radius: 2vh;
}

.take_out_inputs {
  margin-top: 2px;
  width: 100%;
}

.take_out_inputs input{
  outline:none;
  border: 0;
  border-bottom: 0.5px solid black;
}



#take_out_name{
  margin-right: 2%;
}

#take_out_phone{
  margin-left: 2%;
}


.sum {
  position: relative;
  text-align: end;
  margin-top: 0%;
  margin-left: 10%;
  font-weight: bolder;
  width: 80%;
  font-size: larger;
  
  
}


.product{
  position: relative;
  margin-left: 4%;
  
  margin-Bottom: 20px;
  text-align: center;
  width: 20%;
  height: 300px;
  float: left;
}

.itemPhoto{
  /*border: 2px solid black;*/
  margin-left: 10%;
  width:80%;
  height: 70%;
}

.itemPhoto p{
  color:#f0f0f0;
  margin-top: 45%;
  font-size: 20px;
  font-weight: bold;
  
}

#delete_key{
  text-decoration: underline;
  color: blue;
}

#delete_key:hover{
  background-color: rgba(223, 215, 215, 0.897);
  cursor: default;
}

img {
  width: 100%;
  height: 100%;
  /*border: 1px solid #000;*/
  object-fit: contain;
}


#itemName {
  margin-top: 1px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;

}

.setting {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  
  z-index: 30;
}

.setting_inner{
  
  position: relative;
  min-height: 200px;
  height:60%;
  width: 40%;
  top: 20%;
  margin: auto;
  background: white;
  text-align: center;
  z-index: 20;
  border: 1.5px solid black;
  padding:0;
  border-radius:5vh;
  
}

.setting_inner #msg {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 5%;
  text-decoration: underline;
}

.setting_inner #head {
  font-size: large;
  font-weight: bold;
 
 
}

.setting_inner #status {
  margin-top: 1%;
}



.product:hover{
  background-color: rgba(223, 223, 223, 0.897);
  cursor: default;
}

#itemName:active {
  color: rgb(187, 183, 183);
}

#itemPrice {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 15px;
}

#login_menu{
  position: relative;
  width: 80%;
  margin-left: 10%;
  font-size: small;
}


.message_font {
  color: red;
}

.orderTable {
  margin-left: 35%;
  
  width: 30%;
  text-align: center;
}

#orderTable{
  width: 70%;
  text-align: center;
  margin-left: 15%;
  margin-bottom: 10px;
  
}

.pro_editer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 30;
}

.proEditer_inner{
  
  position: fixed;
  min-height: 200px;
  height:40%;
  width: 60%;
  margin-left: 20%;
  top: 25%;
  background: white;
  text-align: center;
  z-index: 20;
  border: 1.5px solid black;
  padding:0;
  border-radius:5vh;
  
}

#wait_list{
  font-weight: bold;

  font-size: medium;
  text-decoration: underline dotted red;
}

#table_num{
  font-weight: bold;
  text-decoration: underline;
}

#orderCell {
  width: 75%;
  
}

#idCell{
  width: 15%;
}

#buttonCell{
  width: 10%;
}

#stock_item_name{
  width: 70%;
  text-align: center;
  text-decoration: underline;
}

#stock_item_name :hover{
  width: 70%;
  text-align: center;
  text-decoration: underline;
  color: rgba(76, 135, 202, 0.637);
  cursor: pointer;
}

#stock_button{
margin-left: 5%;
margin-top: 1%;
}

#stock_checker{
  width: 5%;
  text-align: center;
}

#stock_checker a{
  font-size: medium;
  font-weight: bold;
}


td, th {
  
  border-bottom: 2px solid black;
  }
.content{
  
  overflow: hidden;
}

li {
  list-style: none;
}

input {
  outline:none;
  border: 0;
  border-bottom: 0.5px solid black;
}


@media (max-width: 767px) {  
  

  #logo {
    margin-left: 25%;
    width: 50%;
  }


    h1{
      text-align: center;
      font-size: 45px;
      margin-top: 0;
      font-weight: bold;
      margin-bottom: 0;
      letter-spacing:-5px;
    }

    h3{
      
      text-align: center;
      margin-bottom: 0;
      font-weight: bold;
      font-size: x-large;
      
    }

    #title{
      position: relative;
 
    }

    .basket{
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-color: rgba(0,0,0, 0.5);
      z-index: 30;
    }

    .basket_conf{
      position: fixed;
      width: 80%;
      margin-left: 10%;
      top: 30%;
      bottom: 25%;
      max-height: 60%;
    }

    .basket_inner {
      position: absolute;
      height: 60%;
      min-width: 90%;
      left: 5%;
      right: 50%;
      top: 25%;
      bottom: 25%;
      margin: auto;
      background: white;
      text-align: center;
      z-index: 20;
      border-radius: 5vh;

    }

    #delete_key{
      text-decoration: underline;
      color: blue;
      margin-right: 1%;
    }

    #itemListInBasket{
      
      padding-left: 0;
      margin-top: 1%;
      font-size: small;
      font-weight: bold;
    }

    #take_out_name{
      width: 40%;
    }
    
    #take_out_phone{
      width: 40%;
    }
   
    .conf {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-color: rgba(0,0,0, 0.5);
      z-index: 30;
    }

    .item_conf {
      position: fixed;
      min-height: 200px;
      height:45%;
      width: 70%;
      margin-left: 15%;
      top: 25%;
      background: white;
      text-align: center;
      z-index: 20;
      border: 1.5px solid black;
      padding:0;
      border-radius:5vh;
    }

    #conf_pic{
      position: relative;
      margin-top: 5%;
      max-width: 70%;
      max-height: 50%;
    }
    
    .conf_button {
      position: relative;
      margin-bottom: 1%;
    }
    
    #conf_button2 {
      position: relative;
      font-weight: bold;
      margin-top: 8%;
    }
    
    #conf_button3 {
      position:relative;
      font-size: larger;
      font-weight: bold;
      text-align: center;
    }

    .conf_warn{
      position: relative;
      margin-top: 15%;
      width: 80%;
      margin-left: 10%;
      
    }
    
    #conf_warning_a{
      text-decoration: underline dotted;
      font-size:xx-small;
    }
    
    .msg {
      position: relative;
      font-weight: bold;
      text-align: center;
      margin-top:8%;
      font-size: medium;
    }

    .setting_inner{
      position: relative;
      min-height: 30%;
      height:35%;
      width: 90%;
      top: 35%;
      margin: auto;
      background: white;
      text-align: center;
      z-index: 20;
      border: 1.5px solid black;
      padding:0;
      border-radius:5vh;
    }

    .setting_inner #status{
      margin-top: 1%;
    }

    .description {
      margin-top: 0;
      margin-bottom: 5px;
      text-align:center;
    }

    .hours {
      font-size: x-small;
      margin-top: 0;
      margin-bottom: 0;
    }

    .hours button{
      font-size: x-small;
    }

    .hours input{
      width:20%;
    }

    .content{
     
      overflow: hidden;
    }

    #inform{
      font-size: x-small;
      margin-left: 2%;
    }
    
    .product{
      position: relative;
      margin-left: 6%;
      
      margin-Bottom: 20px;
      text-align: center;
      min-width: 40%;
      height: 220px;
      float: left;
    }

    .itemPhoto{
      margin-left: 15%;
      width:70%;
      height: 65%;
      margin-top: 0;
    }

    #itemName {
      margin-top: 0px;
      margin-bottom: 0;
      text-align: center;
      margin-left: 2%;
      margin-right: 2%;
      font-weight: bold;
      font-size: medium;
    }

    #itemPrice {
      font-weight: bold;
      font-size: medium;
      margin-top: 0;
    }

    #wait_list{
      font-size: small;
      text-decoration: underline dotted red;
    }

    .item_list{
      margin-top: 3%;
      font-size: small;
    }

    .itemInfo{
      width:100%;
    }

    .list{
      height: 50px;
      width:60%;
      text-align: center;
      margin: 0 auto;
    }

    #button1 {
      width:30%;
      float: left;
      margin-left:2%;
      text-align: center;
      font-weight: bold;
      font-size: medium;
    }

    #button5{
      position: relative;
      margin-top: 70%;
      font-weight: bold;
    }

    #edit_buttons{
      
      width: 20%;
    }

    #button4 {
      font-size: small;
      font-weight: bold;
      width: 80%;
      margin-top: 4%;
      margin-bottom: 1%;
      text-decoration: underline;
    }

    .proEditer_inner{
  
      position: fixed;
      min-height: 200px;
      height:40%;
      width: 60%;
      margin-left: 20%;
      top: 25%;
      background: white;
      text-align: center;
      z-index: 20;
      border: 1.5px solid black;
      padding:0;
      border-radius:5vh;
      
    }

    .stock{
      margin-left: 2.5%;
      margin-bottom: 2%;
      width:95%;
      font-size: small;
    }

    #stock_table{
      width:100%;
    }
    
    #stock_item_name{
      width: 50%;
    }
    
    #stock_button{
    margin-left: 5%;
    margin-top: 1%;
    }

    #stock_checker{
      width: 5%;
      text-align: center;
    }

    #stock_checker a{
      font-size: medium;
      font-weight: bold;
    }

    #stock_button_outer {
      width:20%;
    }

    #orderTable{
  
      width: 90%;
      text-align: center;
      margin-left: 5%;
      margin-bottom: 10px;
      font-size: small;
    }
    
    #orderCell {
      width: 75%;
      
    }
    
    #idCell{
      width: 10%;
    }
    
    #buttonCell{
      width: 15%;
    }



    
}